{% extends "base.html.twig" %}

{% block title %}Kalender{% endblock %}
{% block pageType %}calendar{% endblock %}

{% block body %}
    {{ include('partials/navigation.html.twig') }}

<h1>Kalender</h1>
    <div id="calendar-holder"></div>
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>

     <style>
        #calendar-holder {
            margin-top: 10px;
        }
    </style>
{% endblock %}