{% extends "base.html.twig" %}

{% block title %}Seite nicht gefunden{% endblock %}

{% block body %}
    <div class="error-container">
        <div class="error-content">
            {{ content|raw }}
        </div>
    </div>
{% endblock %}