<!-- Example Bootstrap navbar with gradient background -->
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="
    background: linear-gradient(to right, #d1c1e4, #84CEEB);
    border: 2px solid #8860D0;
    border-radius: 3px;
  "
>
  <div class="container-fluid" style="padding-left: 0; padding-right: 0;">
    <!-- Left side navigation items -->
    <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row">
      <li class="nav-item me-2">
        <a class="nav-link" href="#">
          <i class="bi bi-calendar4-week"></i>
        </a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#">
          <i class="bi bi-grid"></i>
        </a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#">
          Neue Notiz +
        </a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#">
          Kategorien
        </a>
      </li>
    </ul>

    <!-- Right side navigation items -->
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row">
      <li class="nav-item me-2">
        <a class="nav-link" href="#">
          <i class="bi bi-share"></i>
        </a>
      </li>
      <li class="nav-item me-2">
        <a class="nav-link" href="#">
          <i class="bi bi-gear"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="bi bi-person-circle"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>

