
<nav
  class="navbar navbar-expand-lg navbar-light"
  style="
    background: linear-gradient(to right, #d1c1e4, #84CEEB);
    border: 2px solid #8860D0;
    border-radius: 3px;
  "
>
  <div class="container-fluid p-0">
    <!-- Left side navigation items -->
    <ul class="navbar-nav me-auto d-flex flex-row mb-2 mb-lg-0">
      <!-- Each item except the last has a right border -->
      <li class="nav-item border-end border-2 border-secondary px-3">
        <a class="nav-link" href="/calendar">
          <i class="fa-regular fa-calendar-days"></i>
        </a>
      </li>
      <li class="nav-item border-end border-2 border-secondary px-3">
        <a class="nav-link" href="/">
          <i class="fa-solid fa-thumbtack"></i>
        </a>
      </li>
      <li class="nav-item border-end border-2 border-secondary px-3">
        <a class="nav-link" href="#">
          Neue Notiz +
        </a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">
          Kategorien
        </a>
      </li>
    </ul>

    <!-- Right side navigation items -->
    <ul class="navbar-nav ms-auto d-flex flex-row mb-2 mb-lg-0">
      <li class="nav-item border-end border-2 border-secondary px-3">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-share-nodes"></i>
        </a>
      </li>
      <li class="nav-item border-end border-2 border-secondary px-3">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-gear"></i>
        </a>
      </li>
      <li class="nav-item px-3">
        <a class="nav-link" href="#">
          <i class="fa-solid fa-user"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
